body {
    background-color: #eee;
  }

  .clear {
    clear: both;
  }
  
  /* smooth scroll */
  
  html {
    scroll-behavior: smooth;
  }

  /* navbar */

.navbar {
    background-color: rgb(20, 20, 20);
  }
  
  /* bg-dark */
  
  .bg-dark {
    background-color: rgb(20, 20, 20)!important;
  }
  
  /* Dropdown active color*/
  
  .dropdown-color:active {
    background: rgb(20, 20, 20) !important;
    color: #eee !important;
  }
  
  /* Dropdown hover color*/
  
  .dropdown-color:hover {
    background-color: rgb(201, 201, 201);
  }
  
  /* Navbar letter logo center*/
  
  #center-logo {
    position: absolute !important;
    left: 50% !important;
    right: 50% !important;
  }
  
  /* Navbar toggle icon*/
  
  .navbar-light .navbar-toggler-icon {
    background-image: url(../img/navbar-toggle.png);
  }
  
  /* Navbar opacity */
  
  .navbar {
    opacity: 97%;
  }
  
  /* link */

  a {
    text-decoration: none !important;
    color: inherit !important;
  }

    /* socials hover */
  
    .twitterof {
        background-image: url(../img/twitter-star.png);
      }
      
      .twitterof:hover {
        background-image: url(../img/twitter-star-w.png);
      }
      
      .twitter {
        background-image: url(../img/twitter.png);
      }
      
      .twitter:hover {
        background-image: url(../img/twitter-w.png);
      }
      
      .facebook {
        background-image: url(../img/facebook.png);
      }
      
      .facebook:hover {
        background-image: url(../img/facebook-w.png);
      }
      
      .insta {
        background-image: url(../img/insta.png);
      }
      
      .insta:hover {
        background-image: url(../img/insta-w.png);
      }
      
      .yt {
        background-image: url(../img/youtube.png);
      }
      
      .yt:hover {
        background-image: url(../img/youtube-w.png);
      }
      
      .weibo {
        background-image: url(../img/weibo.png);
      }
      
      .weibo:hover {
        background-image: url(../img/weibo-w.png);
      }
      
      .weibo-m {
        background-image: url(../img/weibo-member.png);
      }
      
      .weibo-m:hover {
        background-image: url(../img/weibo-member-w.png);
      }
      
      .youku {
        background-image: url(../img/youku.png);
      }
      
      .youku:hover {
        background-image: url(../img/youku-w.png);
      }
      
      .weverse {
        background-image: url(../img/weverse.png);
      }
      
      .weverse:hover {
        background-image: url(../img/weverse-w.png);
      }
      
      .cafe {
        background-image: url(../img/cafe.png);
      }
      
      .cafe:hover {
        background-image: url(../img/cafe-w.png);
      }
      
      .blog {
        background-image: url(../img/blog.png);
      }
      
      .blog:hover {
        background-image: url(../img/blog-w.png);
      }
      
      /* footer border responsive */
    
    @media only screen and (max-width: 767px) {
        .f {
          border-right: none !important;
          border-bottom: 1px solid #dee2e6 !important;
        }
      }

  /* zarovnani do stredu */

  .zarovnani {
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

  